/* utilties */

/* variables */
:root {
  --color-primary: #d50099;
  --gray-color: #d2d2d2;
  --light-gray-color: #f9f9f9;
}

/* sizing utilities */
.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

/* font utlitiles */
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.text-opacity-50 {
  opacity: 0.5 !important;
}

/* font colors */
.text-color-primary {
  color: var(--color-primary);
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-android-green {
  color: #A4C639;
}

.text-apple-black {
  color: black;
}

.text-gray {
  color: gray;
}

/* background colors */
.background-white {
  background: white;
}

.background-lightgray {
  background: var(--light-gray-color);
}

/* borders */
.border-gray {
  border-color: var(--gray-color);
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}
