/* utilties */

/* sizing utilities */
.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

/* font utlitiles */
.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.text-opacity-50 {
  opacity: .5 !important
}

.text-white {
  color: white;
}

.text-android-green {
  color: #A4C639;
}

.text-apple-black {
  color: black;
}